@tailwind base;
@tailwind components;
@tailwind utilities;

#plurali > #visual > path {
  @apply transition;
}

.min-w-screen {
  min-width: 100vw;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}